<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Marmalade Tech.</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet"/>
        <link href="/static/css/bootstrap.css" rel="stylesheet"/>
        <link href="/static/css/style.css" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="/static/slick/slick.css"/>
        <link rel="stylesheet" type="text/css" href="/static/slick/slick-theme.css"/>
        <link rel="shortcut icon" type="image/svg" href="/static/images/favicon.ico">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/slick/slick.min.js"></script>
        <script type="text/javascript" src="/static/js/carousel.js"></script>
    </head>
    <body>
        <!--Using Bootstrap Framework, Everything must be in container -->
        <div class="container-fluid">
            <div class="row">
                <div>
                    <img class="logo center-block" src="/static/images/m5.svg" alt="no image">
                </div>
                <hr class="hr-small">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="text-center text-huge centered">
                    <div>
                        <img class="img-responsive center-block main-logo" src="/static/images/m4.svg" alt="no image">
                    </div>
                    <a class="login-link" href="/login">login</a>
                    |
                    <a class="login-link" href="/signup">signup</a>
                </div>
            </div>
        </div>
    </body>
</html>
