{% extends "userbase.html" %}

{% block content %}
<!--Contains the Carousel of Programming Languages -->
<div class="row">
    <div class="featured-title col-md-12">
        <h2 class="featured-title-text category_effects" data-toggle="modal" data-target="#skills">Skills</h2>
    </div>
</div>
<div id="carousel" class="responsive">
    <!-- <div class="text-center vert_align carousel-center">
        <img src="/static/images/eviews_logo.png" style="margin: 10px auto 10px auto;" alt="no image" height="75" width="200">
    </div> -->
    {% for skill in skills %}
    <div class="text-center text-big vert_align carousel-center cfont">
        <div class="skills">{{skill.name}}</div>
    </div>
    {% endfor %}
    <div class="text-center vert_align carousel-center" data-toggle="modal" data-target="#add_skill">
        <div class="skills"><h3><b>+ Add New Skill</b></h3></div>
    </div>
</div>

<!--Contains the Recently Added Projects-->
<main>
    <div class="row">
        <div class="featured-title col-md-12">
            <h2 class="featured-title-text">Recently Added</h2>
        </div>
    </div>
    <div class="organize-elements row">
        {% for project in projects %}
            <span>
                <div class="effects col-md-4 height" data-toggle="modal" data-target="#{{project.key.id()}}">
                    <div>
                        <h2 class="featured-text text-uppercase text-center vert_align max">{{project.title}}</h2>
                    </div>
                    <hr class="split">
                    <p class="text-center align-middle"><b>Description:</b></p>
                    <p class="text-center align-middle max">{{project.description}}</p>
                    <p class="text-center align-middle"><b>Link:</b></p>
                    <p class="text-center align-middle max">{{project.link}}</p>
                </div>
            </span>
        {% endfor %}
        <article>
            <div class="effects col-md-4" data-toggle="modal" data-target="#add">
                <!--Adding Projects-->
                <img class="center img-responsive" src="/static/images/add.svg" alt="Add" >
            </div>
        </article>
    </div>
    {% for category in categories %}
        {% if category.feature == True %}
        <div class="row">
            <div class="category_effects featured-title col-md-12">
                <h2 class="featured-title-text" data-toggle="modal" data-target="#{{category.key.id()}}">{{category.name}}</h2>
            </div>
        </div>
        <div class="organize-elements row">
            {% for project in projects %}
                {% if category.name == project.category_name and project.feature == True %}
                <span>
                    <div class="effects col-md-4 height" data-toggle="modal" data-target="#{{project.key.id()}}">
                        <div>
                            <h2 class="featured-text text-uppercase text-center vert_align max">{{project.title}}</h2>
                        </div>
                        <hr class="split">
                        <p class="text-center align-middle"><b>Description:</b></p>
                        <p class="text-center align-middle max">{{project.description}}</p>
                        <p class="text-center align-middle"><b>Link:</b></p>
                        <p class="text-center align-middle max">{{project.link}}</p>
                    </div>
                </span>
                {% endif %}
            {% endfor %}
            <article>
                <div class="effects col-md-4" data-toggle="modal" data-target="#add">
                    <img class="center img-responsive" src="/static/images/add.svg" alt="Add" >
                </div>
            </article>
        </div>

        <!--This is the modal for Editing and Deleting Category-->
        <div class="modal fade" id="{{category.key.id()}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="{{category.key.id()}}">Modify {{category.name}}</h4>
                    </div>
                    <div class="modal-body">
                        <form action='/AddCategory' method="post">
                            <div class='text-center'>
                                <p class="text-big">Name:</p>
                                <input style="width: 200px;" type="text" name="category_name" value="{{category.name}}">
                            </div>
                            <div class="text-center">
                                <input style="margin-top: 15px" type="submit">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-left btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#CD{{category.key.id()}}">Delete</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!--This is the modal for Confirming Deleting Post-->
        <div class="modal fade" id="CD{{category.key.id()}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="CD{{category.key.id()}}">Deleting {{category.name}}</h4>
                    </div>
                    <div class="modal-body">
                        <p class="text-big text-center">Are you sure?</p>
                        <div class="text-center">
                            <form action='/DeleteCategory/{{category.key.id()}}' method="post">
                                <input type="submit" value="Yes">
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}

    <div class="row">
        <div class="col-md-12">
            <a class="featured-title-text category_effects" data-toggle="modal" data-target="#add_category">Add Category</a>
            <a class="featured-title-text">    |    </a>
            <a class="featured-title-text category_effects" data-toggle="modal" data-target="#edit_categories">Edit Categories</a>
        </div>
    </div>
</main>

<!--This contains the reusable code for the modals-->
{% for project in projects %}
<!--This is the modal for Projects-->
<div class="modal fade" id="{{project.key.id()}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="{{project.key.id()}}"></h4>
                <form action="/editproject/{{project.key.id()}}">
                    <div style="display: inline-block;">
                        <input type="image" src="/static/images/edit.svg" height="30" width="30">
                        Edit
                    </div>
                </form>
            </div>
            <div class="modal-body">
                <div class="modal-title">
                    <h2 class="max modal-about"><b>{{project.title}}</b></h2><br>
                </div>
                <div>
                    <h4><b>Description:</b></h4>
                    <p class="text-big">{{project.description}}</p>
                </div>
                <div>
                    <h4><b>Link:</b></h4>
                    {% if project.link == "[None]" %}
                        <p class="max text-big">{{project.link}}</p>
                    {% else %}
                        <a href="{{project.link}}"><p class="max text-big">{{project.link}}</p></a>
                    {% endif %}
                    <h6 class="text-big max"><b>Upload Date:</b></h6>
                    <p class="text-big max">{{project.created.strftime("%b %d, %Y")}}</p>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-left btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#D{{project.key.id()}}">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--This is the modal for Confirming Deleting Post-->
<div class="modal fade" id="D{{project.key.id()}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="D{{project.key.id()}}">Deleting {{project.title}}</h4>
            </div>
            <div class="modal-body">
                <p class="text-big text-center">Are you sure?</p>
                <div class="text-center">
                    <form action='/Delete/{{project.key.id()}}' method="post">
                        <input type="submit" value="Yes">
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!--This is the modal for Adding Projects-->
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1">Add Project</h4>
            </div>
            <div class="modal-body">
                <div class="modal-title">
                    <h2 class="modal-about">Project Details</h2>
                    <form action="/UPHandler" method="post">
                        <label>
                            <div class="text-big">Title *</div>
                            <input class="title_link" type="text" name="title" value="{{title}}">
                        </label>

                        <label>
                            <div class="text-big">Link</div>
                            <input class="title_link" type="url" name="link" value="{{link}}">
                        </label>

                        <label>
                            <div class="text-big">Description</div>
                            <textarea class="box" name="description">{{description}}</textarea>
                        </label>

                        <label>
                            <p class="text-big">Skill (Optional)</p>
                            <select class="dropdown" name="programming_language">
                                <option>Select One</option>
                                {% for skill in skills %}
                                <option value="{{skill.name}}">{{skill.name}}</option>
                                {% endfor %}
                            </select>
                        </label>

                        <label>
                            <p class="text-big">Category</p>
                                <select class="dropdown" name="name_category">
                                    <option>Select One</option>
                                    {% for category in categories %}
                                        <option value="{{category.name}}">{{category.name}}</option>
                                    {% endfor %}
                                </select>
                            <p class="text-big">Add Category</p>
                                <input class="title_link" type="text" name="add_category" value="{{add_category}}">
                        </label>
                        <br><br>
                        <p>Feature on Main Page?</p>
                        <input style="margin-right: 5px" type="radio" name="p_feature" value="true"><label style="margin-right: 10px">Yes</label>
                        <input style="margin-right: 5px" type="radio" name="p_feature" value="false"><label>No</label>
                        <br><br>
                        <p>* - Required to submit</p>
                        <div class="error">{{error}}</div>
                        <input type="submit">
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--This is the modal for Adding Categories-->
<div class="modal fade" id="add_category" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="add_category">Add Category</h4>
            </div>
            <div class="modal-body">
                <form action='/AddCategory' method="post">
                    <div class='text-center'>
                        <p class="text-big">Name:</p>
                        <input style="width: 200px;" type="text" name="category_name">
                    </div>
                    <br>
                    <p class="feature-text text-center">Show on home page?</p>
                    <div class="text-center">
                        <input style="margin-right: 5px;" type="radio" name="c_feature" value="true"><label style="margin-right: 10px;">Yes</label>
                        <input style="margin-right: 5px;" type="radio" name="c_feature" value="false"><label>No</label>
                    </div>
                    <div class="text-center">
                        <input style="margin-top: 15px" type="submit">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--This is the modal for Editing Categories-->
<div class="modal fade" id="edit_categories" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="edit_categories">Edit Categories</h4>
            </div>
            <div class="modal-body">
                <form action="/editcategories" method="post">
                    <table>
                        <tr>
                            <th style="padding-right: 10px; border-style: none solid solid none;">Category Name</th>
                            <th style="padding-left: 10px; border-style: none none solid solid">Show on Home Page</th>
                        </tr>
                        {% for category in categories %}
                        <tr>
                            <td style="padding: 5px; border-style: none solid solid none">{{category.name}}</td>
                            <td class="text-center" style="padding: 5px; border-style: none none solid solid"><input type="checkbox" name="ce_feature" value="true"></td>
                        </tr>
                        {% endfor %}
                    </table>
                    <div class="text-center">
                        <input style="margin-top: 15px" type="submit">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--This is the modal for viewing all Skills-->
<div class="modal fade" id="skills" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="skills">Skills</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <th style="border-style: none none solid none;">Skills</th>
                    </tr>
                    {% for skill in skills %}
                    <tr>
                        <td style="padding: 5px;">{{skill.name}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--This is the modal for Adding Skills-->
<div class="modal fade" id="add_skill" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="add_skill">Add Skill</h4>
            </div>
            <div class="modal-body">
                <form action='/AddSkill' method="post">
                    <div class='text-center'>
                        <p class="text-big">Skill:</p>
                        <input style="width: 200px;" type="text" name="skill_name">
                    </div>
                    <div class="text-center">
                        <input style="margin-top: 15px" type="submit">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
