<div class="post">
    <a style="text-decoration=none" href="/blog/{{p.key().id()}}">
        <div class="post-heading">
            <div class="post-title">
                {{p.subject}}
            </div>

            <div class="post-date">
                {{p.created.strftime("%b %d, %Y")}}
            </div>
        </div>

        <div class="post-content">
            {{p._render_text | safe}}
        </div>
    </a>
    <div class="row">
        <div class="col-md-3">
            <h6>Likes: {{p.likes}} | <a href="/blog/{{p.key().id()}}">Comments ({{p.comments}}) </a></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <form action="/like/{{p.key().id()}}" method="post">
                <input type="submit" style="margin-right: 10px;" value="like">
            </form>
        </div>
        <div class="col-md-1">
            <form action="/blog/{{p.key().id()}}">
                <input type="submit" style="margin-right: 10px;" value="comment">
            </form>
        </div>
    </div>
</div>
